ramal_clase.m
CVq_h0.jpg
CVq_h0.png
CVq_h0.jpg
CVq_005_01.png CVq_h0.png res_CVq007.png result_CVq_Ra_Cd.png result_CV_Ra_Cd.png
CVq_h0.jpg
CVq_005_01.png CVq_h0.png res_CVq007.png result_CVq_Ra_Cd.png result_CV_Ra_Cd.png
